.project {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 100%;
  display: block;
  padding: 1rem;
  min-height: 20rem;
  width: 300px;
}

.project__side:hover .project__side--back {
  transform: rotateY(0);
}

.project__side:hover .project__side--front {
  transform: rotateY(-180deg);
}

.project__side h2 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 23px;
  line-height: 28.8px;
  margin: 0;
  padding: 0;
}

.project__side {
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(#000, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.project__side--front {
  background-color: gray;

  align-items: center;
  padding-bottom: 0;
  gap: 1rem;
}

.project__side--back {
  transform: rotateY(180deg);
  background-color: gray;
  height: 100%;
}

.project__side--back .more-detail {
  span {
    color: #fff;
  }
  align-self: flex-start;
}

.block {
  height: 400px;
  width: 300px;
  background: red;
  display: inline-block;
  margin: 0 1rem;
}
